:root {
    --yellow: rgb(241, 241, 108);
}


#main-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid var(--yellow);
    border-radius: 20px;
    color: var(--yellow);
    width: 500px;
    height: fit-content;
    margin: auto;
    margin-top: 200px;
    padding: 30px 0px;
    box-sizing: border-box;
    animation: fadeIn 1500ms ease-out;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.label {
    margin-bottom: 15px;
    margin-top: 10px;
    font-size: 1.5rem;
}

.name-input {
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid var(--yellow);
    color: var(--yellow);
    border-radius: 20px;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: center;
    width: 50%;
    margin-bottom: 20px;
}

.name-input:focus {
    filter: drop-shadow(0px 0px 5px var(--yellow));
}

.select-input {
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid var(--yellow);
    color: var(--yellow);
    border-radius: 20px;
    font-weight: 600;
    font-size: 1rem;
    text-align: center;
    width: 50%;
    padding: 8px;
    margin-bottom: 20px;
}

.select-input:focus {
    filter: drop-shadow(0px 0px 5px var(--yellow));
}

.sub-button {
    width: 200px;
    padding: 5px;
    color: var(--yellow);
    font-size: 1.5rem;
    background-color: transparent;
    border: 2px solid var(--yellow);
    border-radius: 50px;
    margin-top: 30px;
    transition: all 400ms;
}

.sub-button:not(:disabled):hover {
    cursor: pointer;
    background-color: var(--yellow);
    color: rgb(110, 53, 110);
    filter: drop-shadow(0px 0px 20px var(--yellow));
}

.sub-button:disabled {
    opacity: 0.5;
}

.form-error {
    animation: blink 1s linear;
}

@keyframes fadeIn {
    from {
        transform: scale(0.9);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes blink {
    0% {
        opacity: 1
    }

    25% {
        opacity: 0.2
    }

    50% {
        opacity: 1
    }

    75% {
        opacity: 0.2
    }

    100% {
        opacity: 1
    }
}